#footerBar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #EDCC9A;
    border-top: 2px solid #000000;
}

#socials{
    width: 40px;
    align-items: center;
}